html {
    background-color: rgb(0, 0, 0);

    /*  text-size-adjust: 100%;    */
}

body {

    color: white;
    background: linear-gradient(-45deg, #b81461, #d4397d, #e2498b, #f46ca7);
    background-size: 300% 300%;
    animation: gradient 15s ease both;
    height: 100vh;
    margin: 0px;

}

@keyframes gradient {
    0% {
        background-position: 0% 25%;
    }

    50% {
        background-position: 80% 40%;
    }

    100% {
        background-position: 0% 20%;
    }
}

nav {
    display: flex;
    justify-content: end;
}

ul {
    position: relative;
    font-size: 16px;
    list-style: none;

    margin: 0px;

}

.menu {
    display: flex;
    /*faz os li ficar lado a lado */
    justify-content: space-around;
    /*para ter espaço entre os li*/

    flex-flow: row nowrap;
    padding: 10px 0px;
    height: 8vh;
    /*distância da nav do menu do body*/

}

li {
    margin: 0 30px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}