body {
    background-size: 100%;
}

header {
    justify-content: end;
}

a {
    font-size: 22px;
    display: inline-block;
    /*deixa os logos lado a lado*/
}

.contact {
    margin-top: 60px;
    text-align: center;
    /*deixa as logos e texto no meio*/
}

.github {
    width: 100px;
    height: 100px;
    padding: 0px 50px;
}

.linkedin {
    width: 92px;
    height: 92px;
    padding: 0px 50px;
}


.container {
    width: 500px;
    margin: auto;
}

label {
    font-size: 22px;
}

#name {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-form input {
    display: block;
    width: 500px;
    padding: 2px 0px;
    margin: 9px 0px;
    margin-left: auto;
    margin-right: auto;

}

#mensagem {
    display: flex;
    margin: auto;
    resize: none;
    -webkit-box-shadow: 1px 1px 1px #000000;
    border-radius: 4px;
    height: 125px;
    width: 500px;
}


button {
    background-color: white;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 7px;
    cursor: pointer;
    font-size: large;
    margin-top: 18px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 42px;
    text-align: center;
    margin-top: 0%;
}

input {
    height: 25px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 1px 1px #000000;
}

footer {
    position: relative;
}