html {
    background: rgb(246,38,94);
    background: linear-gradient(90deg, rgb(246, 38, 128) 0%, rgba(236,58,142,1) 50%, rgb(233, 112, 160) 100%);
}


/*  text-size-adjust: 100%;    */


body {

    color: white;
    margin: 0px;

}


nav {
    display: flex;
    justify-content: end;
}

ul {
    position: relative;
    font-size: 16px;
    list-style: none;
    margin: 0px;
}

.menu {
    display: flex;
    /*faz os li ficar lado a lado */
    justify-content: space-around;
    /*para ter espaço entre os li*/

    flex-flow: row nowrap;
    padding: 10px 0px;
    height: 8vh;
    /*distância da nav do menu do body*/

}

li {
    margin: 0 30px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 22px;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}